body{
    margin: 0;
    padding: 0;
}
.gridContainer{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}
.header{
    grid-area: header;
    height: 70px;
    background-color: royalblue;
}
.sideBar{
    grid-area: sidebar;
    height: 100px;
    background-color: grey;
}
.mainContainer{
    grid-area: main;
    background-color: beige;
}